/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import "https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "../lib/splide-4.1.3/dist/css/splide.min.css";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
  max-width: 3800px;
  width: 100%;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
}
.nav__brand, .nav__link {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.nav__brand img {
  width: 100%;
  object-fit: contain;
  image-rendering: pixelated;
}
.nav__list {
  display: flex;
  align-items: center;
}
.nav__item {
  display: flex;
  align-items: center;
}
.nav__link {
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.nav__link::before, .nav__link::after {
  content: "";
  display: block;
  background-color: #b8a47e;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}
.nav__link::before {
  width: clamp(0.3125rem, 2.0263157895vw, 4.8125rem);
  height: clamp(0.0625rem, 0.0789473684vw, 0.1875rem);
  transform: scaleX(0);
  left: clamp(-6.25rem, -2.6315789474vw, -3.125rem);
  transform-origin: right 0;
  transition: transform 0.4s;
}
.nav__link::after {
  border-radius: 50%;
  width: clamp(0.3125rem, 0.2368421053vw, 0.5625rem);
  height: clamp(0.3125rem, 0.2368421053vw, 0.5625rem);
  right: clamp(-6.25rem, -0.6578947368vw, 0rem);
  opacity: 0;
  transition: opacity 0.4s;
}
.nav__link:hover::before {
  transform: scaleX(1);
}
.nav__link:hover::after {
  opacity: 1;
}
.nav__link.active::before {
  transform: scaleX(1);
}
.nav__link.active::after {
  opacity: 1;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: 0;
  border: 0;
  background-color: #b8a47e;
  transition: background-color 0.4s;
  padding: 0.4375rem;
  color: #ffffff;
}
.btn:hover {
  background-color: #6e6555;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(166, 166, 166, 0.3);
  z-index: 98;
  display: none;
}
.backdrop.active {
  display: block;
}

.header {
  position: fixed;
  background-color: transparent;
  width: 100%;
  z-index: 99;
}
.header.active {
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}
@media (width <= 1024px) {
  .header {
    position: static;
    background-color: #ffffff;
    margin-bottom: 1rem;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  }
}
.header__nav.nav .btn {
  display: none;
}
@media (width <= 992px) {
  .header__nav.nav {
    width: 100%;
    justify-content: center;
    position: relative;
  }
  .header__nav.nav .btn {
    position: absolute;
    right: 1rem;
    padding: 0.75rem;
    top: 50%;
    display: flex;
    transform: translateY(-50%);
  }
}
.header__nav .nav__brand {
  width: clamp(6.25rem, 11.4473684211vw, 27.1875rem);
  margin-right: clamp(1rem, 0.6315789474vw, 1.5rem);
  margin-left: clamp(1rem, 0.6315789474vw, 1.5rem);
}
@media (width <= 992px) {
  .header__nav .nav__brand {
    margin: 0;
  }
}
.header__nav .nav__list {
  margin-left: clamp(0.875rem, 6.0526315789vw, 15.625rem);
  transform: translateY(-0.2631578947vw);
}
.header__nav .nav__list__fixed-header {
  display: none;
}
@media (width <= 992px) {
  .header__nav .nav__list__fixed-header {
    display: flex;
    align-items: center;
    padding: 1.25rem;
  }
}
.header__nav .nav__list__fixed-header .btn {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: transparent;
  position: static;
  padding: 0.625rem;
  margin-top: auto;
  transform: unset;
}
@media (width <= 992px) {
  .header__nav .nav__list {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0;
    margin-left: 0;
    background-color: #ffffff;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
    z-index: 99;
    transition: width 0.4s;
    transform: unset;
  }
  .header__nav .nav__list.active {
    width: 14.0625rem;
  }
}
.header__nav .nav__item {
  margin-right: 4.4736842105vw;
  margin-right: clamp(1rem, 4.4736842105vw, 10.625rem);
}
.header__nav .nav__item:last-child {
  margin-right: 0;
}
@media (width <= 992px) {
  .header__nav .nav__item {
    width: 100%;
    margin-right: 0;
  }
}
.header__nav .nav__link {
  font-size: clamp(0.875rem, 0.7894736842vw, 1.875rem);
  line-height: 1.5789473684vw;
  text-transform: uppercase;
  font-weight: 700;
  color: #000000;
}
.header__nav .nav__link.text-white {
  color: #ffffff;
}
@media (width <= 992px) {
  .header__nav .nav__link.text-white {
    color: #000000;
  }
}
@media (width <= 992px) {
  .header__nav .nav__link {
    width: 100%;
    padding: 0.625rem;
  }
  .header__nav .nav__link::after, .header__nav .nav__link::before {
    display: none;
  }
}

.home-slider .slide-item__description {
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  left: clamp(1rem, 18.2894736842vw, 43.4375rem);
  font-family: "Montserrat", sans-serif;
}
.home-slider .slide-item__description p {
  font-size: clamp(0.75rem, 1.1315789474vw, 2.6875rem);
  line-height: clamp(0.9375rem, 1.7105263158vw, 4.0625rem);
  margin-bottom: clamp(0.3125rem, 0.2631578947vw, 0.625rem);
  color: #383838;
}
.home-slider .slide-item__description h1 {
  font-size: clamp(0.75rem, 2.5526315789vw, 6.0625rem);
  font-weight: 700;
  letter-spacing: clamp(0.0625rem, 0.6578947368vw, 1.5625rem);
  text-transform: uppercase;
  line-height: clamp(0.9375rem, 4.3421052632vw, 10.3125rem);
  transform: translateY(-0.1315789474vw);
  box-shadow: 5px 26px 81px 0px rgba(0, 15, 26, 0);
}
.home-slider .slide-item__description a {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: clamp(-8.4375rem, -3.5526315789vw, 0rem);
  font-size: clamp(0.75rem, 1.1315789474vw, 2.6875rem);
  font-weight: 500;
  left: clamp(1rem, 5.4736842105vw, 13rem);
  text-decoration: none;
  color: #b8a47e;
}
.home-slider .slide-item__description a span {
  margin-right: clamp(0.3125rem, 0.8421052632vw, 2rem);
}
.home-slider .slide-item__description a::before {
  content: "";
  display: block;
  width: clamp(1rem, 2.0263157895vw, 4.8125rem);
  height: clamp(0.0625rem, 0.0789473684vw, 0.1875rem);
  margin-right: clamp(0.3125rem, 0.6578947368vw, 1.5625rem);
  margin-right: clamp(0.3125rem, 0.6578947368vw, 1.5625rem);
  background-color: #b8a47e;
}
.home-slider .slide-item__description a .fa.fa-angle-right {
  font-size: clamp(0.75rem, 1.5789473684vw, 3.75rem);
}
.home-slider .slide-item__description a:hover {
  opacity: 0.8;
}
.home-slider .slide-item__image-wrapper {
  width: clamp(12.5rem, 65.2368421053vw, 154.9375rem);
  margin-left: auto;
}
.home-slider .slide-item__image-wrapper img {
  width: 100%;
  object-fit: cover;
  image-rendering: pixelated;
}
.home-slider .splide__arrows {
  position: absolute;
  top: clamp(1rem, 9.3421052632vw, 22.1875rem);
  left: clamp(1rem, 5.3421052632vw, 12.6875rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}
@media (width <= 1024px) {
  .home-slider .splide__arrows {
    position: static;
  }
}
.home-slider .splide__arrows::after {
  content: "";
  display: block;
  width: clamp(0.0625rem, 0.0789473684vw, 0.1875rem);
  height: clamp(1rem, 2.0263157895vw, 4.8125rem);
  background-color: #b8a47e;
}
@media (width <= 1024px) {
  .home-slider .splide__arrows::after {
    display: none;
  }
}
.home-slider .splide__arrows .splide__arrow {
  position: static;
  transform: unset;
  background-color: unset;
  font-size: clamp(0.75rem, 2.3684210526vw, 5.625rem);
  width: unset;
  height: unset;
  opacity: unset;
  color: #000000;
}
@media (width <= 1024px) {
  .home-slider .splide__arrows .splide__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #e1d9c9;
    padding: 0.4375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.875rem;
    height: 1.875rem;
    color: #ffffff;
  }
}
@media (width <= 480px) {
  .home-slider .splide__arrows .splide__arrow {
    width: 1rem;
    height: 1rem;
    padding: 0.3125rem;
  }
}
.home-slider .splide__arrows .splide__arrow:disabled {
  color: #b8a47e;
  opacity: 0.7;
}
.home-slider .splide__arrows .splide__arrow.splide__arrow--prev {
  margin-bottom: 0.2631578947vw;
}
@media (width <= 1024px) {
  .home-slider .splide__arrows .splide__arrow.splide__arrow--prev {
    transform: rotate(-90deg);
  }
}
@media (width <= 1024px) {
  .home-slider .splide__arrows .splide__arrow.splide__arrow--next {
    transform: rotate(-90deg);
  }
}
.home-slider .splide__pagination {
  right: unset;
  bottom: clamp(1rem, 6.3157894737vw, 15rem);
  left: clamp(1rem, 4.6052631579vw, 10.9375rem);
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  padding: 0;
}
@media (width <= 1024px) {
  .home-slider .splide__pagination {
    bottom: 0;
    flex-direction: row;
    justify-content: center;
    left: 50%;
    transform: translateX(-50%);
  }
}
.home-slider .splide__pagination__page {
  font-family: "Montserrat", sans-serif;
  font-size: clamp(0.75rem, 0.9210526316vw, 2.1875rem);
  font-weight: 700;
  padding: clamp(0.3125rem, 0.2631578947vw, 0.625rem);
  width: unset;
  height: unset;
  margin: 0;
  line-height: clamp(0.9375rem, 1.3947368421vw, 3.3125rem);
  background-color: unset;
  opacity: 1;
  color: #878787;
}
@media (width <= 1024px) {
  .home-slider .splide__pagination__page {
    color: #ffffff;
  }
}
.home-slider .splide__pagination__page.is-active {
  padding: 0;
  font-size: clamp(0.5rem, 1.4473684211vw, 3.4375rem);
  background-color: #ffffff;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  margin-top: clamp(1rem, 2.1052631579vw, 5rem);
  margin-bottom: clamp(1rem, 2.1052631579vw, 5rem);
  width: clamp(1rem, 2.8947368421vw, 6.875rem);
  height: clamp(1rem, 2.8947368421vw, 6.875rem);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
}
@media (width <= 1024px) {
  .home-slider .splide__pagination__page.is-active {
    margin: 2.1052631579vw;
  }
}
@media (width <= 480px) {
  .home-slider .splide__pagination__page.is-active {
    width: 1rem;
    height: 1rem;
    padding: 0.3125rem;
    font-size: 0.5rem;
  }
}

.story__box {
  display: flex;
  position: relative;
}
.story__box.first {
  margin: 10.3421052632vw 0;
  margin-top: clamp(1rem, 10.3421052632vw, 24.5625rem);
  margin-bottom: clamp(1rem, 10.3421052632vw, 24.5625rem);
}
.story__box.first .story__content {
  top: clamp(1rem, 5.6052631579vw, 13.3125rem);
  right: clamp(1rem, 8.1578947368vw, 19.375rem);
  display: flex;
  justify-content: end;
  padding-top: clamp(0.3125rem, 2.8947368421vw, 6.875rem);
  padding-bottom: clamp(0.3125rem, 1.2368421053vw, 2.9375rem);
  padding-right: clamp(0.3125rem, 5vw, 11.875rem);
  width: clamp(6.25rem, 46.8421052632vw, 111.25rem);
}
@media (width <= 1200px) {
  .story__box.first .story__content {
    padding: 1.875rem 0.9375rem;
  }
}
@media (width <= 992px) {
  .story__box.first .story__content {
    right: 0.3125rem;
  }
}
.story__box.first .story__content .arrow {
  right: clamp(1rem, 7.8947368421vw, 18.75rem);
  background-color: #ffffff;
}
.story__box.first .story__title {
  right: clamp(1rem, 25.0263157895vw, 59.4375rem);
  top: clamp(1rem, 5.3947368421vw, 12.8125rem);
  width: clamp(12.5rem, 37.5263157895vw, 89.125rem);
}
@media (width <= 992px) {
  .story__box.first .story__title {
    right: 15.625rem;
  }
}
.story__box.first .story__title h2 {
  transform: translate(-0.0263157895vw, -0.1315789474vw);
  margin-bottom: clamp(0.3125rem, 0.7894736842vw, 1.875rem);
}
.story__box.first .story__description {
  width: 17.3684210526vw;
  width: clamp(6.25rem, 17.3684210526vw, 41.25rem);
  transform: translateX(0.2631578947vw);
}
@media (width <= 1200px) {
  .story__box.first .story__description {
    width: 50%;
  }
}
@media (width <= 992px) {
  .story__box.first .story__description {
    width: 11.25rem;
  }
}
.story__box.second {
  justify-content: end;
  padding-top: clamp(1rem, 9.5526315789vw, 22.6875rem);
  padding-bottom: clamp(1rem, 9.5526315789vw, 22.6875rem);
  background-color: #ededed;
}
.story__box.second .story__image::before {
  content: "";
  position: absolute;
  background-color: transparent;
  background-image: url("../image/navy_salt_4.png");
  background-repeat: no-repeat;
  width: clamp(6.25rem, 16.7894736842vw, 39.875rem);
  background-size: contain;
  top: clamp(-2.5rem, -1.0526315789vw, 0rem);
  left: clamp(1rem, 10.5263157895vw, 25rem);
  display: none;
}
@media (width <= 992px) {
  .story__box.second .story__image::before {
    display: block;
  }
}
.story__box.second .story__content {
  left: clamp(1rem, 8.1578947368vw, 19.375rem);
  top: clamp(1rem, 15.5263157895vw, 36.875rem);
  padding: clamp(1rem, 3.3947368421vw, 8.0625rem);
  padding-top: clamp(1rem, 1.7105263158vw, 4.0625rem);
  padding-bottom: clamp(1rem, 2.5vw, 5.9375rem);
  width: clamp(12.5rem, 47.6315789474vw, 113.125rem);
}
@media (width <= 1200px) {
  .story__box.second .story__content {
    padding: 1.875rem 0.9375rem;
    top: 7.8125rem;
  }
}
@media (width <= 992px) {
  .story__box.second .story__content {
    left: 0.3125rem;
  }
}
.story__box.second .story__content .arrow {
  background-color: #ededed;
  left: clamp(1rem, 8.0789473684vw, 19.1875rem);
}
.story__box.second .story__content::before {
  content: "";
  position: absolute;
  background-color: transparent;
  background-image: url("../image/navy_salt_4.png");
  background-repeat: no-repeat;
  width: clamp(6.25rem, 16.7894736842vw, 39.875rem);
  background-size: contain;
  top: clamp(-2.9375rem, -1.2368421053vw, 0rem);
  left: clamp(0rem, 1.4473684211vw, 3.4375rem);
}
@media (width <= 992px) {
  .story__box.second .story__content::before {
    display: none;
  }
}
.story__box.second .story__title {
  left: clamp(0rem, 28.5526315789vw, 67.8125rem);
  top: clamp(0rem, 4.7368421053vw, 11.25rem);
  width: clamp(6.25rem, 39.4736842105vw, 93.75rem);
}
@media (width <= 992px) {
  .story__box.second .story__title {
    left: 15.625rem;
  }
}
.story__box.second .story__title h3 {
  margin-bottom: 0.7894736842vw;
  margin-bottom: clamp(1rem, 0.7894736842vw, 1.875rem);
  transform: translate(-0.1315789474vw, 0.1315789474vw);
  margin-bottom: clamp(0rem, 0.6710526316vw, 1.59375rem);
}
.story__box.second .story__title p {
  text-align: start;
  padding-left: clamp(1rem, 6.0526315789vw, 14.375rem);
}
@media (width <= 992px) {
  .story__box.second .story__title p {
    padding-left: 0;
    text-align: end;
  }
}
.story__box.second .story__description {
  width: clamp(6.25rem, 20.5263157895vw, 48.75rem);
  transform: translateY(-0.1315789474vw);
}
@media (width <= 1200px) {
  .story__box.second .story__description {
    width: 50%;
  }
}
@media (width <= 992px) {
  .story__box.second .story__description {
    width: 11.25rem;
  }
}
.story__box.second .story__image {
  transform: translateY(-0.1315789474vw);
}
.story__image {
  width: clamp(6.25rem, 67.3684210526vw, 160rem);
}
@media (width <= 992px) {
  .story__image {
    width: 100%;
  }
}
.story__image img {
  width: 100%;
  object-fit: cover;
  image-rendering: pixelated;
}
.story__content {
  position: absolute;
  border-width: clamp(0.125rem, 0.1578947368vw, 0.375rem);
  border-color: #b8a47e;
  border-style: solid;
}
@media (width <= 992px) {
  .story__content {
    flex-direction: column;
    align-items: center;
    left: 50% !important;
    top: 50% !important;
    transform: translate(-50%, -50%) !important;
    width: 95% !important;
    padding: 0.875rem !important;
  }
}
@media (width <= 380px) {
  .story__content {
    padding: 0.3125rem !important;
  }
}
.story__content .arrow {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: clamp(3.125rem, 10.3947368421vw, 24.6875rem);
  height: clamp(3.125rem, 4.1052631579vw, 9.75rem);
  bottom: clamp(-9.625rem, -4.0526315789vw, 0rem);
  text-align: center;
}
.story__content .arrow img {
  width: clamp(1rem, 0.8421052632vw, 2rem);
  transform: translateY(0.1315789474vw);
  object-fit: cover;
}
@media (width <= 992px) {
  .story__content .arrow {
    display: none;
  }
}
.story__title {
  color: #ffffff;
  position: absolute;
  font-family: "Montserrat", sans-serif;
}
@media (width <= 992px) {
  .story__title {
    position: static;
    width: 100% !important;
    margin-bottom: 0.4375rem;
  }
}
@media (width <= 380px) {
  .story__title {
    margin-bottom: 0.3125rem !important;
  }
}
.story__title h2,
.story__title h3 {
  font-size: clamp(0.875rem, 2.5526315789vw, 6.0625rem);
  font-weight: 700;
  letter-spacing: clamp(0rem, 0.6578947368vw, 1.5625rem);
  text-shadow: 5px 26px 81px rgba(0, 15, 26, 0.6);
}
@media (width <= 992px) {
  .story__title h2,
  .story__title h3 {
    text-align: center !important;
  }
}
@media (width <= 380px) {
  .story__title h2,
  .story__title h3 {
    font-size: 0.625rem !important;
  }
}
.story__title p {
  font-size: clamp(0.75rem, 1.1315789474vw, 2.6875rem);
  text-align: end;
}
@media (width <= 380px) {
  .story__title p {
    font-size: 0.625rem !important;
  }
}
.story__description {
  color: #a7a7a7;
  font-size: clamp(0.75rem, 0.7631578947vw, 1.8125rem);
  font-family: "Montserrat", sans-serif;
  line-height: clamp(0.9375rem, 2.0789473684vw, 4.9375rem);
}
@media (width <= 992px) {
  .story__description {
    width: 100% !important;
    color: #ffffff !important;
    line-height: 1.2 !important;
  }
}
@media (width <= 380px) {
  .story__description {
    font-size: 0.625rem !important;
  }
}

.collection {
  margin-top: clamp(1rem, 10.0526315789vw, 23.875rem);
}
.collection__header {
  position: relative;
  font-family: "Montserrat", sans-serif;
}
.collection__header h4 {
  font-size: clamp(1rem, 3.1578947368vw, 7.5rem);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: clamp(0rem, 0.8684210526vw, 2.0625rem);
  line-height: clamp(1.25rem, 1.0526315789vw, 2.5rem);
  padding-left: clamp(1rem, 20.3947368421vw, 48.4375rem);
  text-shadow: 4px 22px 81px rgba(1, 19, 32, 0.52);
  color: #383838;
}
@media (width <= 992px) {
  .collection__header h4 {
    padding-left: 0;
    text-align: center;
  }
}
.collection__header p {
  position: absolute;
  right: clamp(1rem, 10.4736842105vw, 24.875rem);
  top: clamp(0rem, 3.8157894737vw, 9.0625rem);
  padding-left: clamp(0.3125rem, 0.3421052632vw, 0.8125rem);
  font-size: clamp(0.75rem, 1.1315789474vw, 2.6875rem);
  font-weight: 500;
  color: #383838;
  background-color: #e1d9c9;
  line-height: clamp(1.25rem, 1.7105263158vw, 4.0625rem);
  text-shadow: 2px 11px 29px rgba(1, 19, 32, 0.43);
}
@media (width <= 992px) {
  .collection__header p {
    left: 50%;
    transform: translateX(-50%);
    width: 12.5rem;
    line-height: 1.25;
  }
}
.collection__header p::after {
  content: "";
  display: block;
  width: clamp(3.125rem, 7.2894736842vw, 17.3125rem);
  height: clamp(0.0625rem, 0.0789473684vw, 0.1875rem);
  background-color: #000000;
  position: absolute;
  left: clamp(-18.75rem, -7.8947368421vw, 1.875rem);
  bottom: clamp(0.9375rem, 0.9210526316vw, 2.1875rem);
}
.collection__body {
  margin-top: clamp(1rem, 9.2105263158vw, 21.875rem);
}
.collection__body .number {
  width: clamp(3.125rem, 3.9473684211vw, 9.375rem);
}
.collection__body .number img {
  image-rendering: auto !important;
}
.collection__body img {
  width: 100%;
  object-fit: cover;
  image-rendering: pixelated;
}
.collection__body .content h5 {
  font-size: clamp(0.75rem, 1.4136842105vw, 3.3575rem);
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  color: #383838;
  line-height: clamp(0.9375rem, 2.1052631579vw, 5rem);
  letter-spacing: clamp(0.0625rem, 0.3684210526vw, 0.875rem);
}
.collection__body .content p {
  font-size: clamp(0.75rem, 0.6315789474vw, 1.875rem);
  font-weight: 100;
  color: #383838;
  line-height: clamp(0.9375rem, 1.1842105263vw, 2.8125rem);
  text-align: justify;
}
@media (width <= 992px) {
  .collection__body .content p {
    line-height: 1.25;
    letter-spacing: unset;
  }
}
.collection__body .content a {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  font-weight: 700;
  color: #383838;
  font-size: clamp(0.75rem, 0.6578947368vw, 1.5625rem);
  display: flex;
  align-items: center;
  width: fit-content;
  transition: color 0.4s;
}
.collection__body .content a u {
  margin-right: clamp(0.3125rem, 0.5263157895vw, 1.25rem);
  text-decoration: none;
}
.collection__body .content a .fa.fa-angle-right {
  font-size: clamp(0.75rem, 0.9210526316vw, 2.1875rem);
  font-weight: 700;
}
.collection__body .content a:hover {
  color: #b8a47e;
}
.collection__top {
  padding-left: clamp(1rem, 9.9736842105vw, 23.6875rem);
  padding-right: clamp(1rem, 17.7894736842vw, 42.25rem);
}
@media (width <= 992px) {
  .collection__top {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }
}
.collection__top .box {
  display: grid;
  grid-template-columns: 50.1315789474vw auto;
}
@media (width <= 992px) {
  .collection__top .box {
    grid-template-columns: auto;
  }
}
.collection__top .box--left {
  position: relative;
}
.collection__top .box--left .number {
  position: relative;
  z-index: 9;
  transform: translateY(0.6578947368vw);
}
@media (width <= 992px) {
  .collection__top .box--left .number {
    transform: translate(0.3125rem, -0.3125rem);
  }
}
.collection__top .box--left .number::after {
  content: "";
  width: 7.2894736842vw;
  height: clamp(0.0625rem, 0.0789473684vw, 0.1875rem);
  background-color: #000000;
  position: absolute;
  display: block;
  right: -8.2894736842vw;
  top: 1.1315789474vw;
}
@media (width <= 480px) {
  .collection__top .box--left .number::after {
    display: none;
  }
}
.collection__top .box--left .content {
  width: 100%;
  padding-left: 9.7368421053vw;
  padding-top: 3.1578947368vw;
  padding-right: 12.7631578947vw;
}
@media (width <= 992px) {
  .collection__top .box--left .content {
    padding-left: 1.875rem;
  }
}
.collection__top .box--left .content h5 {
  margin-bottom: 0.5789473684vw;
  position: relative;
  transform: translateY(-0.2631578947vw);
}
@media (width <= 992px) {
  .collection__top .box--left .content h5 {
    width: fit-content;
  }
}
.collection__top .box--left .content h5 span {
  display: block;
  width: 28.1315789474vw;
  height: 1.5526315789vw;
  background-color: #e1d9c9;
  position: absolute;
  z-index: -1;
  left: -1.5789473684vw;
  top: 0.7894736842vw;
}
@media (width <= 992px) {
  .collection__top .box--left .content h5 span {
    left: 0;
    right: 0;
    width: 100%;
  }
}
.collection__top .box--left .content__body {
  padding-left: 8.6842105263vw;
  padding-right: 1.3157894737vw;
  letter-spacing: 0.0526315789vw;
}
@media (width <= 992px) {
  .collection__top .box--left .content__body {
    padding-left: 0rem;
  }
}
.collection__top .box--left .content__body p {
  letter-spacing: 0vw;
  margin-bottom: 0.9210526316vw;
  font-size: clamp(0.75rem, 0.7894736842vw, 1.875rem);
}
.collection__top .box--left .content__body a {
  letter-spacing: 0.0065789474vw;
}
.collection__top .box--left .content__body a span {
  margin-right: 0.3947368421vw;
}
.collection__top .box--left .image {
  position: relative;
  transform: translate(-0.1315789474vw, -0.2631578947vw);
}
.collection__top .box--left .image span {
  background-color: #000000;
  position: absolute;
  width: 7.2894736842vw;
  height: clamp(0.0625rem, 0.0789473684vw, 0.1875rem);
  left: 6.8947368421vw;
  display: block;
  bottom: 0.9210526316vw;
  rotate: 90deg;
}
@media (width <= 480px) {
  .collection__top .box--left .image span {
    display: none;
  }
}
.collection__top .box--right {
  background-image: url("../image/logo_text_2.png");
  background-repeat: no-repeat;
  background-position: right 10.1315789474vw top 23.1578947368vw;
  background-size: 8.1052631579vw;
}
@media (width <= 992px) {
  .collection__top .box--right {
    display: flex;
    flex-direction: column-reverse;
    margin-top: 1rem;
  }
}
.collection__top .box--right .content {
  margin-top: 11.8421052632vw;
  padding-left: 2.5vw;
  margin-bottom: 12.3684210526vw;
  position: relative;
}
@media (width <= 992px) {
  .collection__top .box--right .content {
    margin: 1rem 0;
    padding: 0 1rem;
  }
}
.collection__top .box--right .content span {
  background-color: #000000;
  position: absolute;
  height: clamp(0.0625rem, 0.0789473684vw, 0.1875rem);
  rotate: 90deg;
  display: block;
  z-index: 9;
}
.collection__top .box--right .content span.line-top {
  width: 3.5789473684vw;
  top: -2.7631578947vw;
  left: 0.7894736842vw;
}
.collection__top .box--right .content span.line-bottom {
  width: 7.1052631579vw;
  bottom: -7.5vw;
  left: -0.3947368421vw;
}
@media (width <= 480px) {
  .collection__top .box--right .content span {
    display: none;
  }
}
.collection__top .box--right .content h5 {
  transform: translateY(0vw);
  margin-bottom: 0.7894736842vw;
}
.collection__top .box--right .content p {
  margin-bottom: 1.0526315789vw;
  line-height: 1.0526315789vw;
  letter-spacing: -0.0197368421vw;
}
@media (width <= 992px) {
  .collection__top .box--right .content p {
    line-height: 1.25;
  }
}
.collection__top .box--right .image {
  transform: scale(1.4) translate(-2.2894736842vw, -0.0263157895vw);
}
@media (width <= 992px) {
  .collection__top .box--right .image {
    transform: unset;
  }
}
.collection__bottom {
  padding-left: 18.4210526316vw;
  padding-right: 16.5789473684vw;
  margin-top: 1.4473684211vw;
}
@media (width <= 992px) {
  .collection__bottom {
    padding: 0 1.875rem;
    margin-top: 1rem;
  }
}
.collection__bottom .box {
  display: grid;
  grid-template-columns: auto 35.7894736842vw;
}
@media (width <= 992px) {
  .collection__bottom .box {
    grid-template-columns: auto;
  }
}
.collection__bottom .box--left {
  position: relative;
  z-index: 2;
}
.collection__bottom .box--left .number {
  position: absolute;
  top: 0.7894736842vw;
  right: -4.3421052632vw;
  width: 4.6842105263vw;
  z-index: 9;
}
@media (width <= 992px) {
  .collection__bottom .box--left .number {
    right: 0.3125rem;
    top: -0.3125rem;
  }
}
.collection__bottom .box--left .image {
  transform: scale(1.08) translate(0.6578947368vw, 2.3684210526vw);
}
@media (width <= 992px) {
  .collection__bottom .box--left .image {
    transform: unset;
  }
}
.collection__bottom .box--left .text {
  font-size: clamp(1rem, 3.1578947368vw, 7.5rem);
  position: absolute;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  top: 26.0526315789vw;
  right: 1.3157894737vw;
  width: 22.5263157895vw;
  letter-spacing: 1.1052631579vw;
  line-height: 3.5526315789vw;
  color: #ffffff;
  text-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
}
@media (width <= 992px) {
  .collection__bottom .box--left .text {
    bottom: 5.2631578947vw;
    right: unset;
    left: 7.8947368421vw;
    line-height: 1.25;
    top: unset;
  }
}
.collection__bottom .box--right .group {
  position: relative;
}
.collection__bottom .box--right .number {
  position: absolute;
  right: -0.1315789474vw;
  width: 4.5526315789vw;
  top: -1.1842105263vw;
  z-index: 2;
}
@media (width <= 480px) {
  .collection__bottom .box--right .number {
    top: -0.625rem;
    right: 0.3125rem;
  }
}
.collection__bottom .box--right .image {
  position: relative;
  transform: translateX(-1.7105263158vw);
}
@media (width <= 480px) {
  .collection__bottom .box--right .image {
    transform: unset;
  }
}
.collection__bottom .box--right .image span {
  display: block;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0.7894736842vw;
  width: 11.3157894737vw;
  height: 2.4210526316vw;
  background-color: #e3dccd;
}
@media (width <= 1300px) {
  .collection__bottom .box--right .image span {
    height: 2.5vw;
  }
}
@media (width <= 992px) {
  .collection__bottom .box--right .image span {
    display: none;
  }
}
.collection__bottom .box--right .content {
  padding-left: 11.3157894737vw;
  margin-bottom: 1.8421052632vw;
  padding-top: 3.9473684211vw;
}
@media (width <= 992px) {
  .collection__bottom .box--right .content {
    padding: 0.625rem;
    margin: 1rem 0;
  }
}
.collection__bottom .box--right .content h5 {
  transform: translateY(0.1315789474vw);
}
.collection__bottom .box--right .content p {
  margin-top: 1.3157894737vw;
  padding-bottom: 1.0526315789vw;
  line-height: 1.0526315789vw;
  letter-spacing: -0.0217105263vw;
}
@media (width <= 992px) {
  .collection__bottom .box--right .content p {
    line-height: 1.25;
    margin: 1rem 0;
    padding: 0;
  }
}
.collection__gallery {
  padding-right: 18.4210526316vw;
  margin-top: 1.1842105263vw;
  position: relative;
}
@media (width <= 992px) {
  .collection__gallery {
    padding: 1rem;
  }
}
.collection__gallery .gallery {
  display: flex;
  transform: translateX(3.0263157895vw);
  flex-wrap: wrap;
}
@media (width <= 992px) {
  .collection__gallery .gallery {
    transform: unset;
    justify-content: center;
  }
}
.collection__gallery .gallery__item {
  width: calc(16.6666666667% - 1.3157894737vw * 2);
  padding: 0 1.3157894737vw;
  cursor: pointer;
  position: relative;
}
.collection__gallery .gallery__item::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: "";
  background-image: url("../image/zome_icon_white.png");
  position: absolute;
  background-size: 2.6315789474vw;
  display: none;
  top: 0;
  left: 1.3157894737vw;
  right: 1.3157894737vw;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
}
.collection__gallery .gallery__item:hover::after {
  display: block;
}
@media (width <= 992px) {
  .collection__gallery .gallery__item {
    width: calc(33.3333333333% - 1.3157894737vw * 2);
    padding: 1.3157894737vw;
  }
}
.collection__gallery .gallery__transparent {
  position: absolute;
  width: 11.2894736842vw;
  bottom: 0;
  right: 19.0789473684vw;
  z-index: -1;
}
@media (width <= 992px) {
  .collection__gallery .gallery__transparent {
    display: none;
  }
}
.collection__gallery .gallery__transparent img {
  width: 100%;
  object-fit: cover;
  image-rendering: pixelated;
}
.collection__gallery .gallery__transparent .text-group {
  position: absolute;
  width: 5.7894736842vw;
  bottom: 4.3421052632vw;
  right: 1.0526315789vw;
  font-family: "Montserrat", sans-serif;
  font-size: clamp(1rem, 3.1578947368vw, 7.5rem);
  color: #979288;
  text-shadow: 4px 22px 81px rgba(1, 19, 32, 0.52);
  font-weight: 700;
}
.collection__gallery .gallery__transparent .text-group p.first {
  transform: translateX(-0.1578947368vw);
}
.collection__gallery .gallery__transparent .text-group p.second {
  letter-spacing: 0.2631578947vw;
  transform: translate(-0.2105263158vw, 0.2631578947vw);
}
.collection__gallery .gallery__transparent .text-group p.second span {
  margin-right: 0.5263157895vw;
}

.footer {
  margin-top: 11.0526315789vw;
  padding-top: 2.6315789474vw;
  padding-bottom: 0vw;
  background-color: #ededed;
}
@media (width <= 992px) {
  .footer {
    padding: 1rem;
  }
}
.footer__top {
  padding-right: 4.9473684211vw;
  padding-left: 4.5526315789vw;
}
@media (width <= 992px) {
  .footer__top {
    padding: 0;
  }
}
.footer__top .nav {
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media (width <= 992px) {
  .footer__top .nav {
    flex-direction: column;
    align-items: start;
  }
}
.footer__top .nav__brand {
  width: 8.1052631579vw;
  transform: translateY(-0.7894736842vw);
}
@media (width <= 992px) {
  .footer__top .nav__brand {
    transform: unset;
  }
}
@media (width <= 992px) {
  .footer__top .nav__brand {
    width: 9.375rem;
    align-self: center;
    margin-bottom: 1rem;
  }
}
.footer__top .nav__list {
  transform: translateX(1.1184210526vw) translateY(0vw);
  padding: 0 0.2631578947vw;
}
@media (width <= 992px) {
  .footer__top .nav__list {
    transform: unset;
    margin: 1rem 0;
  }
}
.footer__top .nav__item {
  margin-right: 2.1052631579vw;
}
.footer__top .nav__item:last-child {
  margin-right: 0;
}
.footer__top .nav__link {
  padding: 0 0.9210526316vw;
  color: #919191;
  font-weight: 700;
  text-transform: uppercase;
  font-size: clamp(0.75rem, 0.7894736842vw, 1.875rem);
}
.footer__top .nav__link::after {
  right: 0.3157894737vw;
}
.footer__top .nav__link::before {
  left: -1.4473684211vw;
}
.footer__top .nav__link:hover {
  color: #000000;
}
.footer__top .nav__link.active {
  color: #000000;
}
@media (width <= 992px) {
  .footer__top .nav__link::after {
    right: -0.3125rem;
  }
  .footer__top .nav__link::before {
    left: -0.625rem;
  }
}
.footer__address {
  width: 8.4210526316vw;
  line-height: 1.0526315789vw;
  font-size: clamp(0.75rem, 0.7894736842vw, 1.875rem);
  letter-spacing: 0.0065789474vw;
  transform: translate(-2.7631578947vw, 0);
  font-weight: 100;
}
.footer__address b {
  font-weight: 400;
}
.footer__address span {
  width: 80%;
  display: block;
  letter-spacing: 0.0065789474vw;
}
@media (width <= 992px) {
  .footer__address {
    line-height: 1.25;
    transform: unset;
  }
}
@media (width <= 992px) {
  .footer__address {
    width: 100%;
    margin-bottom: 1rem;
  }
}
.footer__email {
  width: 15.7894736842vw;
  margin-top: 1.0526315789vw;
  transform: translate(2.6315789474vw, -0.9210526316vw);
  font-family: "Montserrat", sans-serif;
  line-height: 0.7894736842vw;
}
@media (width <= 992px) {
  .footer__email {
    line-height: 1.25;
  }
}
@media (width <= 992px) {
  .footer__email {
    width: 100%;
    transform: unset;
  }
}
.footer__email h6 {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.0526315789vw;
  transform: translateY(-0.1315789474vw);
  font-size: clamp(0.75rem, 0.7894736842vw, 1.875rem);
}
.footer__email p {
  font-size: clamp(0.75rem, 0.6578947368vw, 1.875rem);
  margin-bottom: 0.7894736842vw;
  line-height: 0.8684210526vw;
  font-weight: 100;
}
@media (width <= 992px) {
  .footer__email p {
    line-height: 1.25;
  }
}
.footer__email .form-group {
  display: flex;
  align-items: center;
}
.footer__email .form-group input {
  width: 10vw;
  height: 1.7368421053vw;
  outline: 0;
  border: 0.0625rem solid #d1d1d1;
  margin-right: 0.2631578947vw;
}
@media (width <= 992px) {
  .footer__email .form-group input {
    height: 1rem;
    width: 12.5rem;
  }
}
.footer__email .form-group .btn {
  width: 2.6315789474vw;
  height: 1.7368421053vw;
  background-color: #292929;
}
@media (width <= 992px) {
  .footer__email .form-group .btn {
    height: 1rem;
  }
}
.footer__bottom {
  transform: translateY(-0.6578947368vw);
}
@media (width <= 992px) {
  .footer__bottom {
    transform: unset;
    margin-top: 1rem;
  }
}
.footer__bottom .wrapper {
  display: flex;
  padding: 0 4.5789473684vw;
  align-items: center;
  padding-bottom: 0.2631578947vw;
}
@media (width <= 992px) {
  .footer__bottom .wrapper {
    padding: 0;
  }
}
@media (width <= 992px) {
  .footer__bottom .wrapper {
    flex-direction: column-reverse;
    align-items: start;
  }
}
.footer__bottom .copyrigh-text {
  margin-right: 6.8421052632vw;
  text-transform: uppercase;
  font-weight: 100;
  font-size: clamp(0.75rem, 0.7894736842vw, 1.875rem);
}
@media (width <= 992px) {
  .footer__bottom .copyrigh-text {
    margin-right: 0;
    margin-top: 1rem;
  }
}
.footer__bottom .nav {
  transform: translateY(-15);
}
.footer__bottom .nav__item {
  margin-right: 4.2105263158vw;
}
.footer__bottom .nav__item:last-child {
  margin-right: 0;
}
.footer__bottom .nav__link {
  padding: 0.2631578947vw;
  font-weight: 300;
  text-transform: lowercase;
  color: #000000;
  font-size: clamp(0.75rem, 0.7368421053vw, 1.875rem);
  transition: all 0.4s ease;
}
.footer__bottom .nav__link::after {
  right: -0.6578947368vw;
}
.footer__bottom .nav__link::before {
  left: -2.2368421053vw;
}
.footer__bottom .nav__link:hover {
  font-weight: 700;
}
.footer__bottom .nav__link:hover::after {
  right: -0.5263157895vw;
  top: 55%;
}
.footer__bottom .nav__link:hover::before {
  top: 55%;
}
.footer__bottom .nav__link.active {
  font-weight: 700;
}
@media (width <= 992px) {
  .footer__bottom .nav__link::after {
    right: -0.4375rem;
  }
  .footer__bottom .nav__link::before {
    left: -0.9375rem;
  }
}
@media (width <= 380px) {
  .footer__bottom .nav__link::before {
    left: -0.4375rem;
  }
}

/*# sourceMappingURL=index.css.map */
