.collection {
  @include _clamp(margin-top, 16, 382, 382);
  &__header {
    position: relative;
    font-family: "Montserrat", sans-serif;
    h4 {
      @include _clamp(font-size, 16, 120, 120);
      text-transform: uppercase;
      font-weight: 700;
      @include _clamp(letter-spacing, 0, 33, 33);
      @include _clamp(line-height, calc(1.25 * 16), 40, 40);
      @include _clamp(padding-left, 16, 775, 775);
      text-shadow: 4px 22px 81px rgba(1, 19, 32, 0.52);
      color: map-get($color, 3);
      @include media(992px) {
        padding-left: 0;
        text-align: center;
      }
    }
    p {
      position: absolute;
      @include _clamp(right, 16, 398, 398);
      @include _clamp(top, 0, 145, 145);
      @include _clamp(padding-left, 5, 13, 13);
      @include _clamp(font-size, 12, 43, 43);
      font-weight: 500;
      color: map-get($color, 3);
      background-color: map-get($color, 8);
      @include _clamp(line-height, 20, 65, 65);
      text-shadow: 2px 11px 29px rgba(1, 19, 32, 0.43);
      @include media(992px) {
        left: 50%;
        transform: translateX(-50%);
        width: _rem(200);
        line-height: 1.25;
      }
      &::after {
        content: "";
        display: block;
        @include _clamp(width, 50, 277, 277);
        @include _clamp(height, 1, 3, 3);
        background-color: map-get($color, 4);
        position: absolute;
        @include _clamp(left, -300, -300, 30);
        @include _clamp(bottom, 15, 35, 35);
      }
    }
  }
  &__body {
    @include _clamp("margin-top", 16, 350, 350);
    .number {
      @include _clamp("width", 50, 150, 150);
      img {
        image-rendering: auto !important;
      }
    }
    img {
      width: 100%;
      object-fit: cover;
      image-rendering: pixelated;
    }
    .content {
      h5 {
        @include _clamp(font-size, 12, 53.72, 53.72);
        font-weight: 700;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        color: map-get($color, 3);
        @include _clamp("line-height", calc(1.25 * 12), 80, 80);
        @include _clamp("letter-spacing", 1, 14, 14);
      }
      p {
        @include _clamp(font-size, 12, 24, 30);
        font-weight: 100;
        color: map-get($color, 3);
        @include _clamp("line-height", calc(1.25 * 12), 45, 45);
        text-align: justify;
        @include media(992px) {
          line-height: 1.25;
          letter-spacing: unset;
        }
      }
      a {
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        text-decoration: none;
        font-weight: 700;
        color: map-get($color, 3);
        @include _clamp(font-size, 12, 25, 25);
        display: flex;
        align-items: center;
        width: fit-content;
        u {
          @include _clamp("margin-right", 5, 20, 20);
          text-decoration: none;
        }
        .fa.fa-angle-right {
          @include _clamp(font-size, 12, 35, 35);
          font-weight: 700;
        }
        transition: color 0.4s;
        &:hover {
          color: map-get($color, 2);
        }
      }
    }
  }
  &__top {
    @include _clamp("padding-left", 16, 379, 379);
    @include _clamp("padding-right", 16, 676, 676);
    @include media(992px) {
      padding-right: _rem(15);
      padding-left: _rem(15);
    }
    .box {
      display: grid;
      grid-template-columns: _clamp(200, 1905, 1905) auto;
      @include media(992px) {
        grid-template-columns: auto;
      }
      &--left {
        position: relative;
        .number {
          position: relative;
          z-index: 9;
          transform: translateY(_clamp(5, 25, 25));
          @include media(992px) {
            transform: translate(_rem(5), _rem(-5));
          }
          &::after {
            content: "";
            @include _clamp(width, 27.7, 277, 277);
            @include _clamp(height, 1, 3, 3);
            background-color: map-get($color, 4);
            position: absolute;
            display: block;
            @include _clamp(right, -315, -315, 0);
            @include _clamp(top, 0, 43, 43);
            @include media(480px) {
              display: none;
            }
          }
        }
        .content {
          width: 100%;
          @include _clamp(padding-left, 30, 370, 370);
          @include _clamp(padding-top, 30, 120, 120);
          @include _clamp(padding-right, 30, 485, 485);
          @include media(992px) {
            padding-left: _rem(30);
          }
          h5 {
            @include _clamp(margin-bottom, 5, 22, 22);
            position: relative;
            transform: translateY(_clamp(-10, -10, 0));
            @include media(992px) {
              width: fit-content;
            }
            span {
              display: block;
              @include _clamp(width, 100, 1068, 1068);
              @include _clamp(height, 19, 59, 59);
              background-color: map-get($color, 8);
              position: absolute;
              z-index: -1;
              @include _clamp(left, -60, -60, 0);
              @include _clamp(top, 0, 30, 30);
              @include media(992px) {
                left: 0;
                right: 0;
                width: 100%;
              }
            }
          }
          &__body {
            @include _clamp(padding-left, 33, 330, 330);
            @include _clamp(padding-right, 5, 50, 50);
            @include _clamp(letter-spacing, 0.25, 2, 2);
            @include media(992px) {
              padding-left: _rem(0);
            }
            p {
              letter-spacing: 0;
              @include _clamp(margin-bottom, 3.5, 35, 35);
              @include _clamp(font-size, 12, 30, 30);
            }
            a {
              @include _clamp(letter-spacing, 0, 0.25, 0.25);
              span {
                @include _clamp(margin-right, 5, 15, 15);
              }
            }
          }
        }
        .image {
          position: relative;
          transform: translate(_clamp(-5, -5, 0), _clamp(-10, -10, 0));
          span {
            background-color: map-get($color, 4);
            position: absolute;
            @include _clamp(width, 50, 277, 277);
            @include _clamp(height, 1, 3, 3);
            @include _clamp(left, 100, 262, 262);
            display: block;
            @include _clamp(bottom, 3.5, 35, 35);
            rotate: 90deg;
            @include media(480px) {
              display: none;
            }
          }
        }
      }
      &--right {
        background-image: url("../image/logo_text_2.png");
        background-repeat: no-repeat;
        background-position: right _clamp(38.5, 385, 385) top
          _clamp(88, 880, 880);
        background-size: _clamp(30.8, 308, 308);
        @include media(992px) {
          display: flex;
          flex-direction: column-reverse;
          margin-top: _rem(16);
        }
        .content {
          margin-top: _clamp(45, 450, 450);
          padding-left: _clamp(9.5, 95, 95);
          margin-bottom: _clamp(47, 470, 470);
          position: relative;
          @include media(992px) {
            margin: _rem(16) 0;
            padding: 0 _rem(16);
          }
          span {
            background-color: map-get($color, 4);
            position: absolute;
            @include _clamp(height, 1, 3, 3);
            rotate: 90deg;
            display: block;
            z-index: 9;
            &.line-top {
              width: _clamp(13.6, 136, 136);
              top: _clamp(-105, -105, -10.5);
              left: _clamp(3, 30, 30);
            }
            &.line-bottom {
              width: _clamp(27, 270, 270);
              bottom: _clamp(-285, -285, -28.5);
              left: _clamp(-15, -15, -1.5);
            }
            @include media(480px) {
              display: none;
            }
          }
          h5 {
            transform: translateY(0);
            margin-bottom: _clamp(3, 30, 30);
          }
          p {
            margin-bottom: _clamp(4, 40, 40);
            line-height: _clamp(4, 40, 40);
            letter-spacing: _clamp(-0.75, -0.75, 0);
            @include media(992px) {
              line-height: 1.25;
            }
          }
        }
        .image {
          transform: scale(1.4)
            translate(_clamp(-87, -87, -8.7), _clamp(-1, -1, 0));
          @include media(992px) {
            transform: unset;
          }
        }
      }
    }
  }
  &__bottom {
    padding-left: _clamp(70, 700, 700);
    padding-right: _clamp(63, 630, 630);
    margin-top: _clamp(5.5, 55, 55);
    @include media(992px) {
      padding: 0 _rem(30);
      margin-top: _rem(16);
    }
    .box {
      display: grid;
      grid-template-columns: auto _clamp(136, 1360, 1360);
      @include media(992px) {
        grid-template-columns: auto;
      }
      &--left {
        position: relative;
        z-index: 2;
        .number {
          position: absolute;
          top: _clamp(3, 30, 30);
          right: _clamp(-165, -165, -16.5);
          width: _clamp(17.8, 178, 178);
          z-index: 9;
          @include media(992px) {
            right: _rem(5);
            top: _rem(-5);
          }
        }
        .image {
          transform: scale(1.08)
            translate(_clamp(2.5, 25, 25), _clamp(9, 90, 90));
          @include media(992px) {
            transform: unset;
          }
        }
        .text {
          @include _clamp(font-size, 16, 120, 120);
          position: absolute;
          font-weight: 700;
          text-transform: uppercase;
          font-family: "Montserrat", sans-serif;
          top: _clamp(99, 990, 990);
          right: _clamp(5, 50, 50);
          width: _clamp(85.6, 856, 856);
          letter-spacing: _clamp(4.2, 42, 42);
          line-height: _clamp(13.5, 135, 135);
          color: map-get($color, 6);
          text-shadow: 0px 20px 20px rgba(0, 0, 0, 0.3);
          @include media(992px) {
            bottom: _clamp(20, 200, 200);
            right: unset;
            left: _clamp(20, 300, 300);
            line-height: 1.25;
            top: unset;
          }
        }
      }
      &--right {
        .group {
          position: relative;
        }
        .number {
          position: absolute;
          right: _clamp(-5, -5, 0);
          width: _clamp(17.3, 173, 173);
          top: _clamp(-4.5, -45, -45);
          z-index: 2;
          @include media(480px) {
            top: _rem(-10);
            right: _rem(5);
          }
        }
        .image {
          position: relative;
          transform: translateX(_clamp(-65, -65, -6.5));

          @include media(480px) {
            transform: unset;
          }
          span {
            display: block;
            position: absolute;
            z-index: 1;
            bottom: 0;
            right: _clamp(3, 30, 30);
            width: _clamp(43, 430, 430);
            height: _clamp(9.2, 92, 92);
            background-color: map-get($color, 15);
            @include media(1300px) {
              height: _clamp(9.5, 95, 95);
            }
            @include media(992px) {
              display: none;
            }
          }
        }
        .content {
          padding-left: _clamp(43, 430, 430);
          margin-bottom: _clamp(7, 70, 70);
          padding-top: _clamp(15, 150, 150);
          @include media(992px) {
            padding: _rem(10);
            margin: _rem(16) 0;
          }
          h5 {
            transform: translateY(_clamp(0.5, 5, 5));
          }
          p {
            margin-top: _clamp(5, 50, 50);
            padding-bottom: _clamp(4, 40, 40);
            line-height: _clamp(4, 40, 40);
            letter-spacing: _clamp(-0.825, -0.825, 0);
            @include media(992px) {
              line-height: 1.25;
              margin: _rem(16) 0;
              padding: 0;
            }
          }
        }
      }
    }
  }
  &__gallery {
    padding-right: _clamp(70, 700, 700);
    margin-top: _clamp(4.5, 45, 45);
    position: relative;
    @include media(992px) {
      padding: _rem(16);
    }
    .gallery {
      display: flex;
      transform: translateX(_clamp(11.5, 115, 115));
      flex-wrap: wrap;
      @include media(992px) {
        transform: unset;
        justify-content: center;
      }
      &__item {
        width: calc(calc(100% / 6) - calc(_clamp(5, 50, 50) * 2));
        padding: 0 _clamp(5, 50, 50);
        cursor: pointer;
        position: relative;
        &::after {
          background-color: map-get($color, 16);
          content: "";
          background-image: url("../image/zome_icon_white.png");
          position: absolute;
          background-size: _clamp(10, 100, 100);
          display: none;
          top: 0;
          left: _clamp(5, 50, 50);
          right: _clamp(5, 50, 50);
          bottom: 0;
          background-repeat: no-repeat;
          background-position: center;
        }
        &:hover {
          &::after {
            display: block;
          }
        }
        @include media(992px) {
          width: calc(calc(100% / 3) - calc(_clamp(5, 50, 50) * 2));
          padding: _clamp(5, 50, 50);
        }
      }
      &__transparent {
        position: absolute;
        width: _clamp(42.9, 429, 429);
        bottom: 0;
        right: _clamp(72.5, 725, 725);
        z-index: -1;
        @include media(992px) {
          display: none;
        }
        img {
          width: 100%;
          object-fit: cover;
          image-rendering: pixelated;
        }
        .text-group {
          position: absolute;
          width: _clamp(22, 220, 220);
          bottom: _clamp(16.5, 165, 165);
          right: _clamp(4, 40, 40);
          font-family: "Montserrat", sans-serif;
          @include _clamp(font-size, 16, 120, 120);
          color: map-get($color, 19);
          text-shadow: 4px 22px 81px rgba(1, 19, 32, 0.52);
          font-weight: 700;
          p {
            &.first {
              transform: translateX(_clamp(-6, -6, -0.6));
            }
            &.second {
              letter-spacing: _clamp(1, 10, 10);
              transform: translate(_clamp(-8, -8, -0.8), _clamp(1, 10, 10));
              span {
                margin-right: _clamp(2, 20, 20);
              }
            }
          }
        }
      }
    }
  }
}
