$mainFontSize: 16;
$viewPointWidth: 3800;
$color: (
  1: #231f20,
  2: #b8a47e,
  3: #383838,
  4: #000000,
  5: #878787,
  6: #ffffff,
  7: #a7a7a7,
  8: #e1d9c9,
  9: #6e6555,
  10: #9b9b9b,
  12: #ededed,
  13: #919191,
  14: rgb(166, 166, 166, 0.3),
  15: #e3dccd,
  16: rgb(0, 0, 0, 0.5),
  17: #d1d1d1,
  18: #292929,
);

$shadow: (
  small: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075),
  normal: 0 0.5rem 1rem rgba(0, 0, 0, 0.15),
  large: 0 1rem 3rem rgba(0, 0, 0, 0.175),
);
