.footer {
  margin-top: _vw(420);
  padding-top: _vw(100);
  padding-bottom: _vw(0);
  background-color: map-get($color, 12);
  @include media(992px) {
    padding: _rem(16);
  }
  &__top {
    padding-right: _vw(188);
    padding-left: _vw(173);
    @include media(992px) {
      padding: 0;
    }
    .nav {
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
      @include media(992px) {
        flex-direction: column;
        align-items: start;
      }
      &__brand {
        width: _vw(308);
        transform: translateY(_vw(-30));
        @include media(992px) {
          transform: unset;
        }
        @include media(992px) {
          width: _rem(150);
          align-self: center;
          margin-bottom: _rem(16);
        }
      }
      &__list {
        transform: translateX(_vw(42.5)) translateY(_vw(0));
        padding: 0 _vw(10);
        @include media(992px) {
          transform: unset;
          margin: _rem(16) 0;
        }
      }
      &__item {
        margin-right: _vw(80);
        &:last-child {
          margin-right: 0;
        }
      }
      &__link {
        padding: 0 _vw(calc(70 / 2));
        color: map-get($color, 13);
        font-weight: 700;
        text-transform: uppercase;
        @include _clamp(font-size, 12, 30, 30);
        &::after {
          right: _vw(12);
        }
        &::before {
          left: _vw(-55);
        }
        &:hover {
          color: map-get($color, 4);
        }
        &.active {
          color: map-get($color, 4);
        }
        @include media(992px) {
          &::after {
            right: _rem(-5);
          }
          &::before {
            left: _rem(-10);
          }
        }
      }
    }
  }
  &__address {
    width: _vw(320);
    line-height: _vw(40);
    @include _clamp(font-size, 12, 30, 30);
    letter-spacing: _vw(0.25);
    transform: translate(_vw(-105), 0);
    font-weight: 100;
    b {
      font-weight: 400;
    }
    span {
      width: 80%;
      display: block;
      letter-spacing: _vw(0.25);
    }
    @include media(992px) {
      line-height: 1.25;
      transform: unset;
    }
    @include media(992px) {
      width: 100%;
      margin-bottom: _rem(16);
    }
  }
  &__email {
    width: _vw(600);
    margin-top: _vw(40);
    transform: translate(_vw(100), _vw(-35));
    font-family: "Montserrat", sans-serif;
    line-height: _vw(30);
    @include media(992px) {
      line-height: 1.25;
    }
    @include media(992px) {
      width: 100%;
      transform: unset;
    }
    h6 {
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: _vw(40);
      transform: translateY(_vw(-5));
      @include _clamp(font-size, 12, 30, 30);
    }
    p {
      @include _clamp(font-size, 12, 25, 30);
      margin-bottom: _vw(30);
      line-height: _vw(33);
      font-weight: 100;
      @include media(992px) {
        line-height: 1.25;
      }
    }
    .form-group {
      display: flex;
      align-items: center;
      input {
        width: _vw(380);
        height: _vw(66);
        outline: 0;
        border: _rem(1) solid map-get($color, 17);
        margin-right: _vw(10);
        @include media(992px) {
          height: _rem(16);
          width: _rem(200);
        }
      }
      .btn {
        width: _vw(100);
        height: _vw(66);
        background-color: map-get($color, 18);
        @include media(992px) {
          height: _rem(16);
        }
      }
    }
  }
  &__bottom {
    transform: translateY(_vw(-25));
    @include media(992px) {
      transform: unset;
      margin-top: _rem(16);
    }
    .wrapper {
      display: flex;
      padding: 0 _vw(174);
      align-items: center;
      padding-bottom: _vw(10);
      @include media(992px) {
        padding: 0;
      }
      @include media(992px) {
        flex-direction: column-reverse;
        align-items: start;
      }
    }
    .copyrigh-text {
      margin-right: _vw(260);
      text-transform: uppercase;
      font-weight: 100;
      @include _clamp(font-size, 12, 30, 30);
      @include media(992px) {
        margin-right: 0;
        margin-top: _rem(16);
      }
    }
    .nav {
      transform: translateY(-15);
      &__item {
        margin-right: _vw(160);
        &:last-child {
          margin-right: 0;
        }
      }
      &__link {
        padding: _vw(10);
        font-weight: 300;
        text-transform: lowercase;
        color: map-get($color, 4);
        @include _clamp(font-size, 12, 28, 30);
        transition: all 0.4s ease;
        &::after {
          right: _vw(-25);
        }
        &::before {
          left: _vw(-85);
        }
        &:hover {
          font-weight: 700;
          &::after {
            right: _vw(-20);
            top: 55%;
          }
          &::before {
            top: 55%;
          }
        }
        &.active {
          font-weight: 700;
        }
        @include media(992px) {
          &::after {
            right: _rem(-7);
          }
          &::before {
            left: _rem(-15);
          }
        }
        @include media(380px) {
          &::before {
            left: _rem(-7);
          }
        }
      }
    }
  }
}
