.header {
  position: fixed;
  background-color: transparent;
  width: 100%;
  z-index: 99;
  &.active {
    background-color: map-get($color, 6);
    box-shadow: map-get($shadow, normal);
  }
  @include media(1024px) {
    position: static;
    background-color: map-get($color, 6);
    margin-bottom: _rem(16);
    box-shadow: map-get($shadow, small);
  }
  &__nav {
    &.nav {
      .btn {
        display: none;
      }
      @include media(992px) {
        width: 100%;
        justify-content: center;
        position: relative;
        .btn {
          position: absolute;
          right: _rem(16);
          padding: _rem(12);
          top: 50%;
          display: flex;
          transform: translateY(-50%);
        }
      }
    }
    .nav {
      &__brand {
        @include _clamp(width, 100, 435, 435);
        @include _clamp(margin-right, 16, 24, 24);
        @include _clamp(margin-left, 16, 24, 24);
        @include media(992px) {
          margin: 0;
        }
      }
      &__list {
        @include _clamp(margin-left, 14, 230, 250);
        transform: translateY(_clamp(-10, -10, -1));
        &__fixed-header {
          display: none;
          @include media(992px) {
            display: flex;
            align-items: center;
            padding: _rem(20);
          }
          .btn {
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            background-color: transparent;
            position: static;
            padding: _rem(10);
            margin-top: auto;
            transform: unset;
          }
        }
        @include media(992px) {
          position: fixed;
          top: 0;
          bottom: 0;
          right: 0;
          width: 0;
          margin-left: 0;
          background-color: map-get($color, 6);
          flex-direction: column;
          align-items: flex-start;
          box-shadow: map-get($shadow, small);
          z-index: 99;
          transition: width 0.4s;
          transform: unset;
          &.active {
            width: _rem(225);
          }
        }
      }
      &__item {
        margin-right: _clamp(17, 170, 170);
        @include _clamp(margin-right, 16, 170, 170);
        &:last-child {
          margin-right: 0;
        }
        @include media(992px) {
          width: 100%;
          margin-right: 0;
        }
      }
      &__link {
        @include _clamp(font-size, 14, 30, 30);
        line-height: _clamp(6, 60, 60);
        text-transform: uppercase;
        font-weight: 700;
        color: map-get($color, 4);
        &.text-white {
          color: map-get($color, 6);
          @include media(992px) {
            color: map-get($color, 4);
          }
        }
        @include media(992px) {
          width: 100%;
          &::after,
          &::before {
            display: none;
          }
          padding: _rem(10);
        }
      }
    }
  }
}
