.home-slider {
  .slide-item {
    &__description {
      position: absolute;
      top: 52%;
      transform: translateY(-50%);
      @include _clamp(left, 16, 695, 695);
      font-family: "Montserrat", sans-serif;
      p {
        @include _clamp(font-size, 12, 43, 43);
        @include _clamp(line-height, calc(12 * 1.25), 65, 65);
        @include _clamp(margin-bottom, 5, 10, 10);
        color: map-get($color, 3);
      }
      h1 {
        @include _clamp(font-size, 12, 97, 97);
        font-weight: 700;
        @include _clamp(letter-spacing, 1, 25, 25);
        text-transform: uppercase;
        @include _clamp(line-height, calc(12 * 1.25), 165, 165);
        transform: translateY(_clamp(-5, -5, -0.5));
        box-shadow: 5px 26px 81px 0px rgba(0, 15, 26, 0);
      }
      a {
        display: flex;
        align-items: center;
        position: absolute;
        @include _clamp(bottom, -135, -135, 0);
        @include _clamp(font-size, 12, 43, 43);
        font-weight: 500;
        @include _clamp(left, 16, 208, 208);
        text-decoration: none;
        color: map-get($color, 2);
        span {
          @include _clamp(margin-right, 5, 32, 32);
        }
        &::before {
          content: "";
          display: block;
          @include _clamp(width, 16, 77, 77);
          @include _clamp(height, 1, 3, 3);
          @include _clamp(margin-right, 5, 25, 25);
          @include _clamp(margin-right, 5, 25, 25);
          background-color: map-get($color, 2);
        }
        .fa.fa-angle-right {
          @include _clamp(font-size, 12, 60, 60);
        }
        &:hover {
          opacity: 0.8;
        }
      }
    }
    &__image-wrapper {
      @include _clamp(width, 200, 2479, 2479);
      margin-left: auto;
      img {
        width: 100%;
        object-fit: cover;
        image-rendering: pixelated;
      }
    }
  }
  .splide__arrows {
    position: absolute;
    @include _clamp(top, 16, 355, 355);
    @include _clamp(left, 16, 203, 203);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
    @include media(1024px) {
      position: static;
    }
    &::after {
      content: "";
      display: block;
      @include _clamp(width, 1, 3, 3);
      @include _clamp(height, 7.7, 77, 77);
      background-color: map-get($color, 2);
      @include media(1024px) {
        display: none;
      }
    }
    .splide__arrow {
      position: static;
      transform: unset;
      background-color: unset;
      @include _clamp(font-size, 12, 90, 90);
      width: unset;
      height: unset;
      opacity: unset;
      color: map-get($color, 4);
      @include media(1024px) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: map-get($color, 8);
        padding: _rem(7);
        display: flex;
        align-items: center;
        justify-content: center;
        width: _rem(30);
        height: _rem(30);
        color: map-get($color, 6);
      }
      @include media(480px) {
        width: _rem(16);
        height: _rem(16);
        padding: _rem(5);
      }
      &:disabled {
        color: map-get($color, 2);
        opacity: 0.7;
      }
      &.splide__arrow--prev {
        margin-bottom: _clamp(1, 10, 10);
        @include media(1024px) {
          transform: rotate(-90deg);
        }
      }
      &.splide__arrow--next {
        @include media(1024px) {
          transform: rotate(-90deg);
        }
      }
    }
  }
  .splide__pagination {
    right: unset;
    @include _clamp(bottom, 16, 240, 240);
    @include _clamp(left, 16, 175, 175);
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    padding: 0;
    @include media(1024px) {
      bottom: 0;
      flex-direction: row;
      justify-content: center;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .splide__pagination__page {
    font-family: "Montserrat", sans-serif;
    @include _clamp(font-size, 12, 35, 35);
    font-weight: 700;
    @include _clamp(padding, 5, calc(20 / 2), calc(20 / 2));
    width: unset;
    height: unset;
    margin: 0;
    @include _clamp(line-height, calc(1.25 * 12), 53, 53);
    background-color: unset;
    opacity: 1;
    color: map-get($color, 5);
    @include media(1024px) {
      color: map-get($color, 6);
    }
    &.is-active {
      padding: 0;
      @include _clamp(font-size, 8, 55, 55);
      background-color: map-get($color, 6);
      box-shadow: map-get($shadow, large);
      @include _clamp(margin-top, 16, 80, 80);
      @include _clamp(margin-bottom, 16, 80, 80);
      @include _clamp(width, 16, 110, 110);
      @include _clamp(height, 16, 110, 110);
      display: flex;
      align-items: center;
      justify-content: center;
      color: map-get($color, 4);
      @include media(1024px) {
        margin: clamp(8, 80, 80);
      }
      @include media(480px) {
        width: _rem(16);
        height: _rem(16);
        padding: _rem(5);
        font-size: _rem(8);
      }
    }
  }
}
