@mixin media($breakpoint) {
  @media (width <= $breakpoint) {
    @content;
  }
}
@function _rem($value) {
  $rem: calc($value / $mainFontSize) + rem;
  @return $rem;
}
@function vwToPx($value) {
  $px: calc(calc($value/100) * $viewPointWidth) + px;
  @return $px;
}
@function vwNoUnit($value) {
  @return calc(calc($value/$viewPointWidth) * 100);
}
@function _vw($value) {
  $vw: calc(calc($value/$viewPointWidth) * 100) + vw;
  @return $vw;
}
@mixin toRem($property, $value) {
  #{$property}: _rem($value);
}
@mixin toVw($property, $value) {
  #{$property}: _vw($value);
}
@mixin _clamp($property, $min, $normal, $max) {
  #{$property}: clamp(_rem($min), _vw($normal), _rem($max));
}
