.story {
  &__box {
    display: flex;
    position: relative;
    &.first {
      margin: _vw(393) 0;
      @include _clamp(margin-top, 16, 393, 393);
      @include _clamp(margin-bottom, 16, 393, 393);
      .story {
        &__content {
          @include _clamp(top, 16, 213, 213);
          @include _clamp(right, 16, 310, 310);
          display: flex;
          justify-content: end;
          @include _clamp(padding-top, 5, 110, 110);
          @include _clamp(padding-bottom, 5, 47, 47);
          @include _clamp(padding-right, 5, 190, 190);
          @include _clamp(width, 100, 1780, 1780);
          @include media(1200px) {
            padding: _rem(30) _rem(15);
          }
          @include media(992px) {
            right: _rem(5);
          }
          .arrow {
            @include _clamp(right, 16, 300, 300);
            background-color: map-get($color, 6);
          }
        }
        &__title {
          @include _clamp(right, 16, 951, 951);
          @include _clamp(top, 16, 205, 205);
          @include _clamp(width, 200, 1426, 1426);
          @include media(992px) {
            right: _rem(250);
          }
          h2 {
            transform: translate(_vw(-1), _vw(-5));
            @include _clamp(margin-bottom, 5, 30, 30);
          }
        }
        &__description {
          width: _vw(660);
          @include _clamp(width, 100, 660, 660);
          transform: translateX(_vw(10));
          @include media(1200px) {
            width: 50%;
          }
          @include media(992px) {
            width: _rem(180);
          }
        }
      }
    }
    &.second {
      justify-content: end;
      @include _clamp(padding-top, 16, 363, 363);
      @include _clamp(padding-bottom, 16, 363, 363);
      background-color: map-get($color, 12);
      .story {
        &__image {
          &::before {
            content: "";
            position: absolute;
            background-color: transparent;
            background-image: url("../image/navy_salt_4.png");
            background-repeat: no-repeat;
            @include _clamp(width, 100, 638, 638);
            background-size: contain;
            @include _clamp(top, -40, -40, 0);
            @include _clamp(left, 16, 400, 400);
            display: none;
            @include media(992px) {
              display: block;
            }
          }
        }
        &__content {
          @include _clamp(left, 16, 310, 310);
          @include _clamp(top, 16, 590, 590);
          @include _clamp(padding, 16, 129, 129);
          @include _clamp(padding-top, 16, 65, 65);
          @include _clamp(padding-bottom, 16, 95, 95);
          @include _clamp(width, 200, 1810, 1810);
          @include media(1200px) {
            padding: _rem(30) _rem(15);
            top: _rem(125);
          }
          @include media(992px) {
            left: _rem(5);
          }
          .arrow {
            background-color: map-get($color, 12);
            @include _clamp(left, 16, 307, 307);
          }
          &::before {
            content: "";
            position: absolute;
            background-color: transparent;
            background-image: url("../image/navy_salt_4.png");
            background-repeat: no-repeat;
            @include _clamp(width, 100, 638, 638);
            background-size: contain;
            @include _clamp(top, -47, -47, 0);
            @include _clamp(left, 0, 55, 55);
            @include media(992px) {
              display: none;
            }
          }
        }
        &__title {
          @include _clamp(left, 0, 1085, 1085);
          @include _clamp(top, 0, 180, 180);
          @include _clamp(width, 100, 1500, 1500);
          @include media(992px) {
            left: _rem(250);
          }
          h3 {
            margin-bottom: _vw(30);
            @include _clamp(margin-bottom, 16, 30, 30);
            transform: translate(_vw(-5), _vw(5));
            @include _clamp(margin-bottom, 0, 25.5, 25.5);
          }
          p {
            text-align: start;
            @include _clamp(padding-left, 16, 230, 230);
            @include media(992px) {
              padding-left: 0;
              text-align: end;
            }
          }
        }
        &__description {
          @include _clamp(width, 100, 780, 780);
          transform: translateY(_vw(-5));
          @include media(1200px) {
            width: 50%;
          }
          @include media(992px) {
            width: _rem(180);
          }
        }
        &__image {
          transform: translateY(_vw(-5));
        }
      }
    }
  }
  &__image {
    @include _clamp(width, 100, 2560, 2560);
    @include media(992px) {
      width: 100%;
    }
    img {
      width: 100%;
      object-fit: cover;
      image-rendering: pixelated;
    }
  }
  &__content {
    position: absolute;
    @include _clamp(border-width, 2, 6, 6);
    border-color: map-get($color, 2);
    border-style: solid;
    @include media(992px) {
      flex-direction: column;
      align-items: center;
      left: 50% !important;
      top: 50% !important;
      transform: translate(-50%, -50%) !important;
      width: 95% !important;
      padding: _rem(14) !important;
    }
    @include media(380px) {
      padding: _rem(5) !important;
    }
    .arrow {
      position: absolute;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      @include _clamp(width, 50, 395, 395);
      @include _clamp(height, 50, 156, 156);
      @include _clamp(bottom, -154, -154, 0);
      text-align: center;
      img {
        @include _clamp(width, 16, 32, 32);
        transform: translateY(_vw(5));
        object-fit: cover;
      }
      @include media(992px) {
        display: none;
      }
    }
  }
  &__title {
    color: map-get($color, 6);
    position: absolute;
    font-family: "Montserrat", sans-serif;
    @include media(992px) {
      position: static;
      width: 100% !important;
      margin-bottom: _rem(7);
    }
    @include media(380px) {
      margin-bottom: _rem(5) !important;
    }
    h2,
    h3 {
      @include _clamp(font-size, 14, 97, 97);
      font-weight: 700;
      @include _clamp(letter-spacing, 0, 25, 25);
      text-shadow: 5px 26px 81px rgba(0, 15, 26, 0.6);
      @include media(992px) {
        text-align: center !important;
      }
      @include media(380px) {
        font-size: _rem(10) !important;
      }
    }
    p {
      @include _clamp(font-size, 12, 43, 43);
      text-align: end;
      @include media(380px) {
        font-size: _rem(10) !important;
      }
    }
  }
  &__description {
    color: map-get($color, 7);
    @include _clamp(font-size, 12, 29, 29);
    font-family: "Montserrat", sans-serif;
    @include _clamp(line-height, calc(1.25 * 12), 79, 79);
    @include media(992px) {
      width: 100% !important;
      color: map-get($color, 6) !important;
      line-height: 1.2 !important;
    }
    @include media(380px) {
      font-size: _rem(10) !important;
    }
  }
}
